---
name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  IMAGE: "ghcr.io/${{ github.repository }}"
  PLATFORMS: "linux/amd64,linux/arm64"
  REGISTRY: "ghcr.io"
  TEST_TAG: "ghcr.io/${{ github.repository }}:test"
jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Log in to the Container registry
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build test image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
          cache-from: type=gha
      - name: Validate Container
        id: validate
        run: |
          docker run --rm -i --entrypoint=/usr/local/bin/buildpulse-test-reporter ${{ env.TEST_TAG }} --help 2>&1 \
          | grep 'buildpulse-test-reporter submit TEST_RESULTS_PATH'
          
          version="$(docker image inspect ${{ env.TEST_TAG }} --format='{{ index .Config.Labels "org.opencontainers.image.version" }}')"
          
          echo "tags=${IMAGE}:latest,${IMAGE}:${version}" >> "$GITHUB_OUTPUT"
      - name: Build images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          platforms: ${{ env.PLATFORMS }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.validate.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
